* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
}

body {
    background: #e4e1ec;
}
html,
body {
    height: 100%;
    margin: 0;
}
