.bottom-bar {
    position: absolute;
    height: 100px;
    width: 100vw;
    background: #fffbff;
    bottom: 0px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row;
}
.progress-area {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.progress-indicator {
    width: 200px;
    height: 16px;

    background: #e4e1ec;
    border-radius: 16px;
}
.progress-indicator-fill {
    background: #01006e;
    border-radius: 16px;
    width: 20%;
    height: 100%;
    transition: width 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.progress-text {
    margin-left: 15px;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 125%;

    color: #1b1b1f;
}
.next-button {
    cursor: pointer;
    width: 250px;
    height: 60px;

    font-family: "Roboto";
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 125%;

    color: #ffffff;

    background: #4c50c4;
    border-radius: 16px;
    border: none;

    transition: box-shadow 0.2s ease-in-out;
}

.next-button:disabled {
    cursor: not-allowed;
    background: #e4e1ec;
    color: #1b1b1f;
}
.next-button:disabled:hover {
    box-shadow: none;
}
.next-button:disabled:active {
    background: #e4e1ec;
}
.next-button:hover {
    box-shadow: 0px 3px 5px 2px rgba(0, 0, 0, 0.2);
}

.next-button:active {
    background: #181795;
}

@media only screen and (max-width: 600px) {
    .next-button {
        height: 45px;
    }
    .bottom-bar {
        flex-direction: column;
        height: 125px;
    }
}
@media screen and (max-width: 800px) and (min-width: 601px) {
    .next-button {
        width: 165px;
    }
}
